.container {
    min-height: calc(100vh - 60px - 72px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);    
  }
  
  .register_form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .register_form_button {
    width: 100%;
  }
  